.main {
  max-width: 90vw;
  color: white;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.25rem;
}

img {
  width: 100%;
  margin: 0 auto;
}

.carousel-main {
  z-index: 1;
}

.article-text {
  margin-top: 2.5%;
}

.source-url {
  text-decoration: none;
}

.source-url:hover {
  opacity: 0.7;
}

@media only screen and (min-width: 845px) {
  .main {
    width: 60vw;
  }
}
