.main {
  max-width: 90vw;
  color: white;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.25rem;
}

img {
  max-width: 100%;
  margin: 0 auto;
}

.article-text {
  margin-top: 2.5%;
}

@media only screen and (min-width: 845px) {
  .main {
    width: 60vw;
  }
}
