.headline-carousel {
  max-width: 100vw;
  max-height: 50vh;
  margin: 0 auto;
}

img {
  opacity: 0.5;
  margin: -10% 0;
}

.carousel-item {
  width: 100%;
  height: 275px;
}

.article-items {
  margin: 0 auto;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

@media only screen and (max-width: 845px) {
  img {
    margin: 0;
    padding: 1% 0;
  }
}
