.headline-carousel {
  max-width: 100vw;
  max-height: 50vh;
  margin: 0 auto;
}

img {
  opacity: 0.5;
  margin: -12.5% 0;
}

.carousel-item {
  width: 100%;
  height: 300px;
}

.article-items {
  margin: 0 auto;
  width: 75%;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

@media only screen and (max-width: 845px) {
  .carousel-item {
    width: 100%;
    height: 250px;
  }

  img {
    margin: 5% 0;
  }

  .article-items {
    margin: 0 auto;
    width: 100%;
  }
}
